
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --before-color: #008080;
  --after-color: #008080;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 10px 10px 100px 0;

}

#timer {
  font-size: 1.5rem;
  margin: 0 25px 0 0;
}


.welcome-page {
display: flex;
flex-wrap: wrap;
width: 100%;
text-align: center;
justify-content: center;
margin-bottom: 15px;
}

.welcome {
  margin-bottom: 10px;
  text-align: center;
  width: 100%; 
}

.container {
  padding: 0;
  margin: 0;
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
}


#question-container {
  width: 20%;

}

.btn {
  width: 100%;
  background-color: var(--before-color);
  color: white;
  padding: 10px;
  margin: 5px 0 5px 0; 
  font-size: 20px; 
  border-radius: 8px;  
}



.controls {
  display: flex;
  justify-content: center;
}

.start-btn {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 8px;
}


.start-btn:hover,
.btn:hover{
  background-color: green;
}

.hide {
  display: none;
}

#question {
  margin-bottom: 15px;
  font-size: 24px;
}


#display {
  width: 100%;
  font-size: 25px;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
  
}

#display2 {
  width: 100%;
  font-size: 25px;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
  
}

.end {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 15px;
}

#score {
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 20px;
}
#initials{
  padding: 2px 4px;
}

#submit-btn {
  display: inline-block;
  margin: 5px;
  cursor: pointer;
  font-size: 60%;
  background-color: #563d7c;
  border-radius: 5px;
  padding: 2px 10px;
  color: white;
  border: 0;
  transition: background-color 0.1s;
  
}
#submit-btn:hover{
  background-color: #8570a5;
}

.score-card {
  text-align: center;
}

.scores ol {
  font-size: 30px;
  text-align: left;
  padding-left: 47.5%;
}

#highscore {
  color: rgb(83, 56, 156);
  font-size: 1.5rem;
  margin-left: 10px;
  cursor: pointer;
}
#highscore:hover{
  color: #8570a5;
}